<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashWord</title>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>

    <style>
        label {
            display: block;
        }

        input, button {
            display: block;
            margin: 10px 0;
        }

        .correct {
            color: green;
        }

        .incorrect {
            color: red;
        }

    </style>
</head>
<body>

    <h1>FlashWord</h1>
    <!-- {{}} this sintax is called a text interpolation -->
    <div id="app">
        What's the English translation for the word <strong>{{ wordA }}</strong>?
        
        <!-- one data property used in two places: -->
        <!-- 1st vue directive = v-model that bind to the input-->
        <input type="text" v-model="answer">
        <!-- 2nd in a text interpolation to the page output -->
        <p v-if="answer != ''">You answered the word: {{ answer }}</p>

        <!-- v-on directive receive an directive argument, in this case is click -->
        <button v-on:click="correct = wordB == answer; showFeedback = true">Check Answer</button>

        <div v-if="showFeedback">
            <p v-if="correct" class="correct">You Got it!</p>
            <p v-else class="incorrect">Sorry, please try again!</p>
        </div>
    </div>

    
</body>
</html>
